.bulletsWrapper,
.skillsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: baseline;
  gap: 0.4em;
}

.skillsSectionName {
  font-size: clamp(2rem, 7vw, 2.5rem);
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  color: var(--primary-grey-color);
  text-transform: uppercase;
}

/* No less than 500px, no greater than 852px */
@media (min-width: 500px) and (max-width: 852px) {
  .bulletsWrapper,
  .skillsWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
