.bulletWrapper {
  width: 100%;
  padding-bottom: 3rem;
  opacity: 0;
  animation: fadeInRotate 1s forwards;
  animation-delay: 1s;
}

.bulletWrapper p {
  font-size: clamp(0.9rem, 5vw, 1.7rem);
  width: 80%;
  color: var(--primary-grey-color);
}

.circle {
  padding: 2rem;
  border: 3px solid var(--primary-green-color);
  background-color: var(--primary-green-color);
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}

.circle img {
  height: 100%;
  filter: invert(100%) sepia(0%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

.bulletTitle {
  font-size: clamp(2rem, 7vw, 2.5rem);
  margin-top: 1rem;
  font-weight: bold;
  color: var(--primary-grey-color);
}
/* Animation */

@keyframes fadeInRotate {
  from {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }
  to {
    opacity: 1;
    transform-origin: center;
  }
}
